$valhalla-900: #221551;
$inner-spinner-size: 58px;
$outter-spinner-size: 105px;

.inner-spinner-container {
  position: relative;
  width: $outter-spinner-size;
  height: $outter-spinner-size;
  box-sizing: border-box;
  top: -1 *  $outter-spinner-size;
}

.inner-spinner {
  position: absolute;
  width: $inner-spinner-size;
  height: $inner-spinner-size;
  border: 18px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  top: 24px;
  left: 24px;
}

%dot-valhalla {
  width: 18px;
  height: 18px;
  background: $valhalla-900;
  border-radius: 50%;
  position: relative;
}

%dot-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.inner-spinner:nth-of-type(1) {
  border-top: 18px solid $valhalla-900;
  animation: spin 2s infinite cubic-bezier(.62,0.14,.58,1);

  .dot-2-container {
    @extend %dot-container;
    justify-content: flex-end;

    .dot-2 {
      @extend %dot-valhalla;
      top: -13px;
      left: 11px;
    }
  }
}

.inner-spinner:nth-of-type(2) {
  border-right: 18px solid $valhalla-900;
  animation: spin 2s infinite cubic-bezier(.23,.33,.58,1);

  .dot-1-container {
    @extend %dot-container;
    justify-content: flex-end;

    .dot-1 {
      @extend %dot-valhalla;
      top: -11px;
      left: 13px;
    }
  }
}

.inner-spinner:nth-of-type(3) {
  border-bottom: 18px solid $valhalla-900;
  animation: spin 2s infinite cubic-bezier(0.25, 0.15, 0.59, 1);
}

.inner-spinner:nth-of-type(4) {
  border-left: 18px solid $valhalla-900;
  animation: spin 2s infinite cubic-bezier(0.62, 0.30, 0.6, 1);
}
